<div class="mb-8">
  <h2 class="text-xl font-bold text-gray-900 mb-4">
    Quick Actions
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">


    @for (action of actions; track action) {
      <button
        type="button"
        class="cursor-pointer bg-white rounded-lg p-6 border hover:shadow-lg text-left"
        (click)="onAction(action)"
        >
        <div [ngClass]="action.color"
          class="w-12 h-12 flex items-center justify-center rounded-lg mb-4">
          <i [class]="action.icon + ' text-2xl'"></i>
        </div>
        <h3 class="font-semibold">{{ action.title }}</h3>
      </button>
    }


  </div>
</div>


