<!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 mb-6">
  @for (stat of stats; track stat) {
    <div
      (click)="onCardClick(stat)"
      class="bg-white rounded-lg p-3 pl-5 border border-gray-200 hover:shadow-md transition-all cursor-pointer hover:scale-[1.02]"
      >
      <div class="flex items-start justify-between mb-3">
        <div
          class="w-10 h-10 rounded-lg flex items-center justify-center"
          [ngClass]="stat.color"
          >
          <i [class]="stat.icon + ' text-lg'"></i>
        </div>
        @if (stat.trend === 'up') {
          <span
            class="text-green-600 text-xs font-medium flex items-center">
            <i class="ri-arrow-up-line"></i>
          </span>
        }
      </div>
      <h3 class="text-2xl font-bold text-gray-900 mb-1">
        {{ stat.value }}
      </h3>
      <p class="text-sm text-gray-600 mb-1">
        {{ stat.label }}
      </p>
      <p class="text-xs text-gray-500">
        {{ stat.change }}
      </p>
    </div>
  }
</div> -->

<div 
  class="grid gap-4 mb-6"
  [ngClass]="isWebView 
    ? 'grid-cols-3' 
    : 'grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5'"
>

  @for (stat of stats; track stat) {
    <div
      (click)="onCardClick(stat)"
      class="bg-white rounded-lg p-3 pl-5 border border-gray-200 hover:shadow-md transition-all cursor-pointer hover:scale-[1.02]"
    >

      <div class="flex items-start justify-between mb-3">
        <div
          class="w-10 h-10 rounded-lg flex items-center justify-center"
          [ngClass]="stat.color"
        >
          <i [class]="stat.icon + ' text-lg'"></i>
        </div>

        @if (stat.trend === 'up') {
          <span class="text-green-600 text-xs font-medium flex items-center">
            <i class="ri-arrow-up-line"></i>
          </span>
        }
      </div>

      <h3 class="text-2xl font-bold text-gray-900 mb-1">
        {{ stat.value }}
      </h3>

      <p class="text-sm text-gray-600 mb-1">
        {{ stat.label }}
      </p>

      <p class="text-xs text-gray-500">
        {{ stat.change }}
      </p>

    </div>
  }

</div>